<div class="card">
  <div class="card-header">
    <center>
      <h3 class="center">Lets get Started</h3>
      <p1>Take a momment to create an account with us</p1>
    </center>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field form-group align-left item">
      <%=f.label "First/Given Name" %>
      <%= f.text_field :first_name, class: 'form-control', placeholder: "First Name", required: true %>
      <%= f.label "email" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email", required: true %>
      <%= f.label "Phone Number" %>
      <%= f.text_field :phone, class: 'form-control', placeholder:"70 123 4567", required: true %>
      <%= f.label "password" %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: "Password", required: true %>
    </div>
    <div class="field form-group align-right item">
      <%= f.label "Last Name" %>
      <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" , required: true %>
      <%= f.label "country" %>
      <%= f.country_select :country, class: 'form-control', prompt: "Select", required: true %>
      <%= f.label "Country Code" %>
      <%= f.text_field :country_code, class: 'form-control', placeholder: " 92 ", required: true %>
      <%= f.label "password_confirmation" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: "Password Confirmation", required: true %>
    </div><div></div>
  </div>
</div><div></div>
<p class="m-0">
  By voluntarily registering on this site, you consent to:
</p>
<p>
  (i) the collection, use and disclosure by the XYZ Institutions of your personal information, including your personal health information for the purposes of: (a) institutional planning to assist with the creation (b) notification and/or delivery of other programs and services (c) statistical analysis necessary to further assist  (d) planning of or response to a natural disaster or other event deemed to be an emergency (collectively, the "Purposes"); and (ii) being contacted by the XYZ Institutions for reasons related to the Purposes. For more information please review our <%= link_to "Privacy Policy", "https://ge-stage-2019.herokuapp.com/privacy_policy" %> *
</p>
<span>
  <%= link_to "Back to Sign-in", new_session_path(resource_name), class: "btn btn-outline-success" %>
</span>
<span class="actions m-3">
  <%= f.submit "Sign up", class: "btn btn-success" %>
</span>
<% end %>
<div class="form-check mt-3">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flex-radio-default1">
  <label class="form-check-label" for="flex-radio-default1">
    I Agree
  </label>
</div>
<div class="form-check ">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flex-radio-default2" checked>
  <label class="form-check-label" for="flex-radio-default2">I Don't Agree
  </label>
</div>
<% render "devise/shared/links" %>
