  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.country_code %></td>
  <td><%= user.country %></td>
  <% link_to 'Edit', edit_user_registration_path(user), class: "btn btn-secondary" %>
  <% if user.standard_user? %>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
  <% end %>
</tr>
