<%= form_with(model: @user, url: admins_user_path) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-8 col-xl-6">
      <div class="card rounded-3">
        <center><h2> Edit User Profile</h2></center>
        <div class="card-body p-4 p-md-5 bg-light">
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, autofocus: true, placeholder: "first_name", size:"25" %>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, autofocus: true, placeholder: "last_name", size: "25" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                  <%= f.label :email %><br />
                  <%= f.text_field :email, autofocus: true, placeholder: "user@email.com", size:"25" %>
              </div>
            </div>
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                <%= f.label :phone_number %><br />
                <%= f.text_field :country_code, autofocus: true, placeholder: "92", size: "5" %>
                <%= f.text_field :phone, autofocus: true, placeholder: "323-555-0000", size: "18" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                  <%= f.label :country %><br />
                  <%= f.country_select :country, autofocus: true, size:"20" %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-4">
              <div class="form-outline">
                  <%= f.label :role %><br />
                  <%= f.select :role, ['admin', 'user'], size: "10" %>
              </div>
            </div>
          </div>
          <br>
          <div class="actions">
            <%= f.submit class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
