<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-lg-8 col-xl-6">
    <div class="card rounded-3">
        <center><h2>camp Info</h2></center>
      <div class="card-body p-4 p-md-5 bg-light">
        <hr>
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-dark">
            <div class"justify-content-center"><th colspan="2">My Profile</th></div>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Name</th>
              <td><%= @camp.name %></td>
            </tr>
            <tr>
              <th scope="row">Type</th>
              <td><%= @camp.type %></td>
            </tr>
            <tr>
              <th scope="row"> Start Date</th>
              <td><%= @camp.start_date %></td>
            </tr>
            <tr>
              <th scope="row">End Date</th>
              <td><%= @camp.end_date %></td>
            </tr>
            <tr>
              <th scope="row">Locations</th>
              <td><% camp.locations.each do |l|%>
                <%= l.name %>
                <%= "|" %>
                <%end%>
              </td>
            </tr>
          </tbody>
        </table>
        <%if !current_user.user? %>
          <%= link_to 'Edit', edit_admins_camp_path(@camp), class: 'btn btn-outline-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
